.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  gap: 100px;
}
.tus-eventos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: var(--m);
}
.create-button {
  margin-right: 50px;
}
.create-button,
.eliminar {
  font-size: 21px;
  font-weight: bold;
  border: none;
  border-radius: var(--br-s);
  padding: 5px 10px;

  background-color: var(--enfasis);
  color: var(--background-color);
  box-shadow: 2px 3px 3px 0px var(--button-color);
  cursor: pointer;
  transition: all 0.3s;
}
.create-button:hover,
.eliminar:hover {
  scale: 1.01;
  filter: brightness(1.2);
}

.asistentes-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--m);
  list-style: circle;
}
.asistentes-container > li {
  font-size: 18px;
  -webkit-text-stroke: 0.2px var(--color-texto);
}

.span {
  font-size: 18px;
  color: var(--red);
  -webkit-text-stroke: 0.5px var(--red);
}

#form-evento,
#eventoForm {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--shadow-red);
  border-radius: var(--br-m);
  /* gap: var(--s); */
}
#form-evento > input,
#eventoForm > input {
  -webkit-text-stroke: 0.5px var(--black);
  width: 60%;
  outline: none;
  padding: var(--br-s);
  border: none;
  border-radius: 8px;
  max-height: 38px;
  text-align: center;
  font-size: 16px;
}
#form-evento > input:focus,
#eventoForm > input:focus,
#eventoForm > textarea:focus {
  border-color: var(--enfasis);
  box-shadow: 0 0 5px var(--enfasis);
}

#eventoForm > textarea {
  border-radius: 8px;
  font-size: 16px;
  outline: none;
  -webkit-text-stroke: 0.5px var(--black);
  padding: var(--br-s);
  text-align: center;
  width: 60%;
  height: 50px;
}
@media screen and (max-width: 1000px) {
  .flex-container {
    flex-direction: column-reverse;
    align-items: center;
    gap: 50px;
  }
  .create-button {
    margin-right: 0;
  }
}
