.registro-asistencia-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--l);
}

.registro-asistencia-container > p {
  width: 400px;
  text-align: center;
  font-size: var(--br-m);
}

.form-asistente {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--m);
}

.form-asistente input {
  font-size: var(--m);
  border-radius: 4px;
  padding: 10px;
  outline: none;
  margin-bottom: 10px;
}
.form-asistente input:focus {
  /* border-color: var(--red2);
  box-shadow: 0 0 5px var(--red2); */
  border-color: var(--enfasis);
  box-shadow: 0 0 5px var(--enfasis);
}
.form-asistente input::placeholder {
  color: var(--color-texto);
}

.submit,
.volver,
.login-button {
  font-size: var(--m);
  -webkit-text-stroke: 0.5px var(--background-color);
  margin: var(--br-m);
  padding: 8px 20px;
  background-color: var(--enfasis-2);
  color: var(--background-color);
  border-radius: var(--br-s);
  border: none;
  box-shadow: 4px 6px 6px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.submit:hover,
.volver:hover,
.login-button:hover {
  scale: 1.05;
  background-color: var(--enfasis);
}
.registro-hecho {
  width: 400px;
  text-align: center;
  font-size: var(--br-m);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--m);
}
