main {
  margin-top: var(--xl);
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  background-color: transparent;
}
.eventos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: var(--xxl);
}
.evento {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  margin-bottom: var(--m);
  background-color: var(--shadow-red);
  border-radius: var(--br-s);
  box-shadow: 4px 6px 4px 2px #000000a2;
  transition: ease-in-out 0.3s;
}

.evento:hover {
  filter: contrast(120%);
}
h3 {
  font-size: var(--xl);
  color: var(--black);
  -webkit-text-stroke: 2px var(--black);
}
.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 250px;
  padding: var(--s);
}
.img-container > img {
  width: 300px;
  height: 210px;
  object-fit: cover;
  border-radius: var(--br-m);
  aspect-ratio: 16/9;
}
.info {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--m);
  padding: var(--m);
}
.fecha {
  font-size: var(--br-m);
  color: var(--black);
  -webkit-text-stroke: 1px var(--color-texto);
  font-weight: bold;
}
.ubicacion {
  font-size: var(--br-m);
  font-weight: bold;
  -webkit-text-stroke: 0.5px var(--color-texto);
}
.info-boton,
.asistencia,
.registro-boton,
.asistenciaUsuario {
  padding: var(--br-s);
  border: none;
  font-size: var(--br-m);
  font-weight: bold;
  background-color: var(--button-color);
  color: var(--background-color);
  /* color: var(--color-texto); */
  border-radius: var(--br-s);
  cursor: pointer;
  margin-bottom: var(--l);
  transition: all 0.3s;
  box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.3);
}
.info-boton:hover,
.asistencia:hover,
.registro-boton:hover {
  scale: 1.02;
  background-color: var(--black);
}

.disabled {
  background-color: var(--button-color);
  border: none;
  color: var(--background-color);
  padding: var(--br-s);
  border-radius: var(--br-s);
  -webkit-text-stroke: 0.2px var(--background-color);
}
.publi {
  font-size: 1.1rem;
  color: var(--black);
  -webkit-text-stroke: 1.1px var(--black);
}
.descripcion,
.precio {
  font-size: 1.1rem;
  -webkit-text-stroke: 0.5px var(--color-texto);
}
.button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.button-container > * {
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: var(--m);
}
